@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Quem Somos */

#quemSomos {
    width: 100%;
    height: 100vh;
    background: #f7f7f7;
    /* background-image: url(../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute; */
     
}

.text-center {
    color: #000000;
    font-size: 1.9em;
    font-family: 900;
    background: transparent;
    padding: 15px 0;
    text-decoration: dashed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content1 {
    padding: 100px 150px;
    display: inline;
    width: 80%;
    float: right;
}

.content1 .textBox1 p {
    width: 650px;
    text-align: justify;
    line-height: 25px;
    left: 123px;
    color: #000000;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.25);
    padding: 55px;
}

span {
    color: #e81616;
    margin-right: 15px;
    font-family: mv boli;
    font-weight: 600;
}

.imagem-flutuante {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-flutuante img {
    transform: translate(-50%);
    float: left;
    width: 300px;
    height: 300px;
    margin: 30px;
    shape-outside: circle();
    clip-path: circle();
    background: #008000;
}

.imagem-flutuante img {
    animation: flutuacao 10s ease-in-out infinite;
    width: 250px;
}

@keyframes flutuacao {

    0%,
    100% {
        transform: translateY(100px);

    }

    50% {
        transform: translateY(-30px);
    }
}

.content1 a {
    flex: 1;
    background-color: rgb(255, 0, 0);
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.content1 a {
    position: absolute;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

.content1 a:hover,
a:focus {
    background-color: #fff;
    color: rgb(0, 0, 0);
}