

/* Titulo da Sessão 2 = Cardápio */
#sessao1{
    width: 100%;
    height: 100vh;
}

#sessao1 .text-center{
    color: #000;
    font-size: 1.9em;
    font-family: 600;
    
    background: transparent;
    padding: 15px 0;
    text-decoration: dashed;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.swiper {
    background: rgb(255, 255, 255);
}

#sessao1 .swiper{
    text-align: center;
    padding: 3rem 2rem;
    transform: scale(.9);
    opacity: .5;
    
}

.swiper-slide-active{
    transform: scale(1);
    opacity: 2;
    background: rgb(255, 230, 2);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    border: .2rem ;
}

.food-slider .slide img{
    height: 25rem;
    margin-bottom: 1rem;
}

.swiper .slide h3{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #000;
}

.swiper .slide .price{
    font-size: 1.5rem;
    color: rgb(226, 43, 43);
}

