
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home{
    width: 100%;
    height: 85.6vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -7em;
}

.linhaLateral{
    height: 100%;
    border-left: 3px solid #ffbb00;
    padding-left: 1em;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #000;
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #e81616;
    font-size: 1.3em;
    font-weight: 900;
    background: transparent;
    padding: 5px 0;
}

.content .textBox p{
    color: #717171;
    font-size: 1.3em;
    line-height: 1.7em;
    margin-bottom: 2em;
    font-weight: 700;
}
   
.content .textBox a{
    padding: 10px 25px;
    background: #e81616;
    color: #f7f7f7;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 350px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-30%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.thumb li img{
    max-width: 20%;
    transition: all 1s;
}

.thumb li img:hover{
    transform: translateY(-15px);
}

.hamburgueres {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -11em;
    filter: drop-shadow( 20px 30px 20px rgba(0, 0, 0, 0.514));
    opacity: 1;
    width: 110%;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: #e81616;
    transform-origin: 0%;
}

/* Media Queries */
/* @media (max-width:1200px){

    section{
       padding:3rem 5%;
    }
    
    section{
        font-size: 55%;
    }
 
 }

@media (max-width:991px){

    section{
       padding:3rem 2rem;
    }

    section{
        font-size: 55%;
    }
} 

@media (max-width:450px){

    section .home{
        font-size: 150%;
    }

    .hamburgueres{
        display: none;
    }

    .slider {
        display: none;
    }

}  */