@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
}

header .logo{
    position: relative;
    max-width: 100px;
}

header ul{
    position: relative;
    display: flex;
    height: 100%;
}

header ul li{
    list-style: none;
   
}

header ul li :hover{
    transform: scale(1.1);
    transition: all 0.5s;
    color: #2b1616;
    filter: drop-shadow( 20px 30px 30px #2b1616);
}

header ul li a{
    display: inline-block;
    color: #2b1616;
    font-weight: 600;
    margin-left: 40px;
    transition: 0.5s;
    text-decoration: none;
}

header ul {
    margin: 0%;
    padding-left: 0%;
}