@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 100px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
   
}

header ul li :hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

header ul li a{
    display: inline-block;
    color: rgb(56, 29, 29);
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;
}
